/* form.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form1 {
    background-color: #bc6c25;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f1e7e7;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  div {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    color: #e9dfdf;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 100%;
  }
  
  .eye-icon{
    margin-left: -6vh;
  }
  input:focus {
    border-color: #6c63ff;
  }
  
  button {
    padding: 12px;
    font-size: 16px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  button:hover {
    background-color: #574ad2;
  }
  
  p {
    font-size: 12px;
    color: red;
    margin-top: 5px;
  }
  